new.html.erb
<div class="container">
  <h1>Restaurant.new</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, label: "Write your Review" %>
    <%= f.input :rating %>
    <%= f.submit %>
  <% end %>
</div>
